
    <%- include ("header") %>


    <% if(msg == "err") { %>

      <h3 class="text-center" style="color: rgb(211, 71, 71);">Enter valid Data...!</h3>

      <form method="POST" action="/add" id="add_course">
        <div class="mb-3">
          <label for="name" class="form-label">Course name</label>
          <input type="text" name="name" class="form-control" id="courseName" value="<%= data.name %>" required>
        </div>
        <div class="mb-3">
          <label for="duration" class="form-label">Duration</label>
          <input type="text" name="duration" class="form-control" id="duration" value="<%= data.duration %>" required>
        </div>
        <div class="mb-3">
            <label for="fees" class="form-label">Fees</label>
            <input type="text" name="fees" class="form-control" id="fees" value="<%= data.fees %>" required>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">

    </form>

    <% } else { %>  

      <form method="POST" action="/add" id="add_course">
        <div class="mb-3">
          <label for="name" class="form-label">Course name</label>
          <input type="text" name="name" class="form-control" id="courseName" value="" required>
        </div>
        <div class="mb-3">
          <label for="duration" class="form-label">Duration</label>
          <input type="text" name="duration" class="form-control" id="duration" value="" required>
        </div>
        <div class="mb-3">
            <label for="fees" class="form-label">Fees</label>
            <input type="text" name="fees" class="form-control" id="fees" value="" required>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">

    </form>

    <% } %>  


      
</div>     

    <%- include ("footer") %>

<script type="text/javascript">

  let showAlert = function() {
    return alert('Enter Valid Data...! ');
  }

  if('<%= msg %>' == "err") 
  {  
    showAlert();
  }
  
</script>

</body>

</html>